{{ $service := .Get 0 }}
{{ $url := .Get 1 }}
{{ $icon := partialCached "func/socials/GetServiceIcon" $service $service }}

{{- with .Parent -}}
{{ $name := .Get "name" }}
<a href="{{ $url }}" target="_blank" class="{{ $service }} ananke-social-link link-transition stackoverflow link dib z-999 pt3 pt0-l {{ cond (eq $.Site.Language.LanguageDirection "rtl") "ml1" "mr1" }}" title="{{ $name }}'s {{ $service }} link" rel="noopener" aria-label="follow on {{ $service }}——Opens in a new window">
    {{ with $icon }}
        <span class="icon">{{ . }}</span>
    {{ else }}
        {{ $service }}
    {{ end }}
</a>
{{- end -}}